<div class="d-flex m-3 flex-column justify-content-center">
  <h5 class="d-flex justify-content-center">將您要轉換的網址放入，按下轉換及可取得短網址!</h5>
  <img class="rounded mx-auto d-block" style="length:10em ; width:10em"
    src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  {{#if shortUrl}}
  <div class="d-flex m-3 justify-content-center">
    <input  id="output" type="text" style="width:15rem; height:3rem" value="{{origin}}/{{shortUrl}}">
    <div class="p-2">
      <a class="btn btn-primary" href="{{origin}}/{{shortUrl}}">前往</a>
      <button class="btn btn-info" onclick="copy()">Copy</button>
    </div>
  </div>
  <script>
    function copy() {
      const copyText = document.getElementById("output");
      console.log('copy')
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      navigator.clipboard.writeText(copyText.value);
      alert("已複製到剪貼簿");
    }
  </script>

  {{else}}
  <div class="d-flex justify-content-center">
    <form class="m-3" action="/" method="POST">
      <input type="url" name="url" placeholder="Paste URL here" style="width:15rem; height:3rem" value="">
      <button class="btn btn-primary" type="submit">轉換</a>
    </form>
  </div>
  {{/if}}
</div>